* {
	margin: 0;
	padding: 0;
}
body {
	background-color: black;
}
.fa-bolt {
	color: #a4d236;
}
#nav-head {
	font-size: 30px;
	font-family: "Racing Sans One", cursive;
	color: white;
	text-shadow: 3px 3px 4px black;
}
ul {
	margin-left: 40%;
}
.fa-trash:hover {
	color: red;
}
#delete {
	color: white;
	background-color: transparent;
	border: none;
}
#modal {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
#logo {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
#footer1 {
	padding-top: 0%;
	padding: 8%;
	height: 50vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	background: #a4d236;
}
#footer2 {
	height: 10vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: -5%;
	margin-left: auto;
	margin-right: auto;
	background: #6e8c27;
}
#footer {
	padding-top: 5%;
	height: 30vh;
}
#nav-foot {
	position: relative;
	left: -65%;
	font-size: 20px;
	font-family: "Racing Sans One", cursive;
	color: white;
	text-shadow: 3px 3px 4px black;
}
#nav-foot2 {
	position: relative;
	left: -28%;
}
#nav-foot3 {
	position: relative;
	left: 18%;
}
.fa-facebook-f {
	color: #232729;
}
.fa-instagram {
	color: #232729;
}
.fa-at {
	color: #232729;
}
.fa-twitter {
	color: #232729;
}
.fa-whatsapp {
	color: #232729;
}
.fa-facebook-f:hover {
	color: white;
}
.fa-instagram:hover {
	color: white;
}
.fa-at:hover {
	color: white;
}
.fa-twitter:hover {
	color: white;
}
.fa-whatsapp:hover {
	color: white;
}
h2 {
	font-family: "Racing Sans One", cursive;
	text-shadow: 1px 1px 2px rgb(255, 255, 255);
}
@media only screen and (max-width: 992px) {
	
	
	#logo {
		display: none;
	}
	#footer1 {
		display: none;
	}
	#nav-foot2 {
		display: none;
	}
	#nav-foot3 {
		display: none;
	}
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  th{
    padding-bottom: 10%;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }


  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 80%;
  }
  /* .tableData {
    padding-left: 20%;
  } */
  td:before {
    position: absolute;
    top: -2px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    padding-bottom: 10%;
  }

  .table>:not(caption)>*>* {
    padding: 2.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
  }